p {
        color: #000000; /*#0088cc for light blue matching tab font color*/
}

h1 {
        font-size: 32px;
}

.logo{
	border-radius: 4px;
	margin: 0 10px 0px 10px;
	width: 200px;
}

.container {
	margin-bottom: 30px;
}

.button-container {
	margin: 20px 0 20px 0;
}

.button-container a.btn {
	margin-bottom: 10px;
	width: 200px;
}

.button-container button.btn{
	margin-bottom: 10px;
	margin-left: 20px;
	width: 200px;
}

.nav-tabs {
	margin-top: 10px;
}

.nav-tabs li a{
		background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

.nav-tabs li.active a{
		background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
		background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
		background-image: -o-linear-gradient(top, #0088cc, #0044cc);
		background-image: linear-gradient(to bottom, #0088cc, #0044cc);
        color: #ffffff;
}

.nav-tabs li.active a:focus{
    color: #ffffff;
}

.nav-tabs li.active a:hover{
    color: #dddddd;
}

.tab-pane.active{
	background-color:#ffffff;
	color: #000000;
	border-radius: 4px;
}

.tab-pane.active a{
	margin: 0px 0px 10px 20px;
}

.tab-pane.active button{
	margin: 0px 0px 10px 20px;
}

.tab-pane.active button.btn-submit{
	margin-right: 20px;
}

.tab-pane.active div.submit-or-skip{
	display: block;
	max-width: 223px;
	width: auto;
	margin: 0 auto;
}

.tab-pane.active p{
	margin: 0 0 10px 10px;
}

.topic-selector tr {
	border-top: 1px solid #e5e5e5;
	padding: 4px 0;
}

.topic-selector tr:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.topic-selector tr input {
	margin: 0 10px;
}

.topic-selector tr button.link{
	margin: 0 0 0px 20px;
	line-height: 20px;
	font-size: 16px;
	background: transparent;
	color: #0088cc;
	text-decoration: none;
	cursor: pointer;
	border: none;
	text-align: left;
}

.topic-selector tr a.link-reset{
	line-height: 18px;
	font-size: 14px;
	cursor: pointer;
}

.topic-selector tr button.link:hover{
	text-decoration: underline;
	color: #004488
}

.topic-selector td.cell-checkbox{
	width: 50px;
}

.topic-selector td.cell-topic{
	width: 300px;
}

.topic-selector td.cell-remaining{
}

.btn-courses i {
    margin-right: 10px;
}

.label-big{
	font-size: 20px;
	line-height: 24px;
}

tr.checked {
        /*background-color: #fcf8e3;*/
        background-color: #ffc;
}

iframe {
	width: 98%;
	display: block;
	margin: 0 auto;
	padding: 0;
	border: none;
	height: 900px;
	border-radius: 4px;
}

.half-line{
	line-height: 10px;
	margin-bottom: 0 !important;
}

input.ans-choice{
	vertical-align: top;
	margin-left: 20px;
}

.ans-form{
	border: 1px solid #ddd;
	background-color: #fbfbfb;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 4px;
	max-width: 320px;
	width: auto;
}

.select-all{
	margin-left: 20px;
	color: #777;
}

.remaining-problems{
	margin-left: 10px;
	color: #777;
}

.remaining-problems-topic{
	margin-left: 10px;
	color: #048;
}

.student-answer{
	margin-right: 20px;
}

.label-success{
	background-color: #62c462;
}

.label-important{
	background-color: #da4f49;
}

.label-warning{
	background-color: #eacc11
}

.histogram{
	margin: 0px 20px 10px;
}

.form-next{
	margin-bottom: 0px;
}

.btn-next{
	width: 150px;
}

.summary-header{
	margin: 0px 20px 10px;
}

.history{
	color: #555;
	width: 98%;
	margin: 0 auto;
}

th.header{
	background-color: #eef;
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ccf;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ccf;
	width: auto;
}

th.headerSortUp{
	background-color: #ddf;
	background-image: url(../img/asc.gif);
	background-repeat: no-repeat;
	background-position: center right;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ccf;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ccf;
}

th.headerSortDown{
	background-color: #ddf;
	background-image: url(../img/desc.gif);
	background-repeat: no-repeat;
	background-position: center right;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ccf;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ccf;
}

.link-history{
	line-height: 20px;
	font-size: 14px;
}

.dropdown-num-rows{
	width: auto;
	min-width: 60px;
}

.p-num-rows{
	vertical-align: middle;
}

.dropdown-correct{
	width: auto;
}

.dropdown-course{
	width: auto;
}

.dropdown-topic{
	width: auto;
}

.invis{
	display: none;
}

.dropdown-course-topic-form{
	display: inline;
}

.div-history-dropdown-course-topic{
	margin: 5px 10px;
}

.btn-course{
	background-color: #363636;
	background-image: -moz-linear-gradient(top, #888888, #666666);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#666666));
	background-image: -webkit-linear-gradient(top, #888888, #666666);
	background-image: -o-linear-gradient(top, #888888, #666666);
	background-image: linear-gradient(to bottom, #888888, #666666);
	background-repeat: repeat-x;
	border-color: #666666 #666666 #444444;
}

.btn-course:hover{
	background-color: #555555;
	background-image: -moz-linear-gradient(top, #777777, #555555);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777777), to(#555555));
	background-image: -webkit-linear-gradient(top, #777777, #555555);
	background-image: -o-linear-gradient(top, #777777, #555555);
	background-image: linear-gradient(to bottom, #777777, #555555);
	background-repeat: repeat-x;
	border-color: #666666 #666666 #444444;
}

.nav.nav-tabs{
	margin-bottom: 10px;
}

.tab-pane.active{
	margin-top: 10px;
}

.tab-pane.active button.btn-link-history{
	margin: 0 0 0 0;
}

.tab-pane.active button.btn-search-username{
	vertical-align: middle;
	margin: 0 0 0 10px;
}

.tab-pane.active input.input-search-username{
	width: 140px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
min-height: 100%;
height: 100%;
color: #ffffff;
background-color: #111111;
background-image: -moz-linear-gradient(top, #333333, #111111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#111111));
background-image: -webkit-linear-gradient(top, #333333, #111111);
background-image: -o-linear-gradient(top, #333333, #111111);
background-image: linear-gradient(to bottom, #333333, #111111);
background-repeat: no-repeat;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -90px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
height: 90px;
}
#footer {
background-color: #e5e5e5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

.container .credit {
        margin: 5px 0;
        font-size: 11px;
}