p {
        color: #000000; /*#0088cc for light blue matching tab font color*/
}

h1 {
        font-size: 32px;
}

.logo{
	border-radius: 4px;
	margin: 0 10px 0px 10px;
	width: 200px;
}

.container {
	margin-bottom: 30px;
}

.button-container {
	margin: 20px 0 20px 0;
}

.button-container a.btn {
	margin-bottom: 10px;
	width: 200px;
}

.button-container button.btn{
	margin-bottom: 10px;
	margin-left: 20px;
	width: 200px;
}

.nav-tabs {
	margin-top: 10px;
}

.nav-tabs li a{
		background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

.nav-tabs li.active a{
		background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
		background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
		background-image: -o-linear-gradient(top, #0088cc, #0044cc);
		background-image: linear-gradient(to bottom, #0088cc, #0044cc);
        color: #ffffff;
}

.nav-tabs li.active a:focus{
    color: #ffffff;
}

.nav-tabs li.active a:hover{
    color: #dddddd;
}

.tab-pane.active{
	background-color:#ffffff;
	border-radius: 4px;
}

.tab-pane.active a{
	margin: 0px 0px 10px 20px;
}

.tab-pane.active p{
	margin: 0 0 10px 10px;
}

.topic-selector {
	list-style-type: none;
}

.topic-selector li {
	border-top: 1px solid #e5e5e5;
	padding: 4px 0;
}

.topic-selector li:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.topic-selector li input {
	margin: 0 10px;
}

.topic-selector li button.link{
	background: transparent;
	color: #0000ff;
	text-decoration: none;
	cursor: pointer;
	border: none;
}

.btn-courses i {
        margin-right: 10px;
}

li.checked {
        /*background-color: #fcf8e3;*/
        background-color: #ffc;
}

iframe {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
        height: 900px;
}



/* Sticky footer styles
-------------------------------------------------- */

html,
body {
min-height: 100%;
height: 100%;
color: #ffffff;
background-color: #111111;
background-image: -moz-linear-gradient(top, #333333, #111111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#111111));
background-image: -webkit-linear-gradient(top, #333333, #111111);
background-image: -o-linear-gradient(top, #333333, #111111);
background-image: linear-gradient(to bottom, #333333, #111111);
background-repeat: no-repeat;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -90px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
height: 90px;
}
#footer {
background-color: #e5e5e5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

.container .credit {
        margin: 5px 0;
        font-size: 11px;
}